body {
    background: linear-gradient(to right, skyblue, royalblue);
    text-align: center;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(78, 77, 77);
    border-style:ridge;
    border-color: rgb(78, 77, 77);
    border-width: 8px;
    text-align: center;
}

#start-button, #pause-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    border-radius: 30px;
    padding: 15px;
    
}

.grid {
    border: 2px solid;
    margin-bottom: 15px;
    margin-left: 33%;
    height: 360px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(248, 239, 239);
}

.grid div {
    
    height: 40px;
    width: 40px;
}

.finish {
    background-color: red;
}

.start {
    background-color: red;
}

.log-left, .log-right {
    background-color: lightblue;
}

.L1, .L2, .L3 {
    background-color: rgb(66, 10, 10);
}

.car-left, .car-right {
    background-color: gray;
}

.frog {
    background-color: green;
}